{% extends 'base.html' %}

{% block content %}
    <!-- Breadcrumbs -->
    {% include 'components/store/breadcrumbs.html' with path=category_path active=category %}
    <!-- Content -->
    <h2>{{ category.name }}</h2>
    {% if children %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-1">
            {% for category in children %}
                <div class="col">
                    <a href="{% url 'store:category_detail' category.slug %}"
                       class="text-decoration-none">
                        <div class="card ratio ratio-1x1">
                            <div class="card-body">
                                {{ category.name }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% elif products %}
        {% for product in products %}
            <a href="{% url 'store:product_detail' product.slug %}" class="text-decoration-none">
                {% include 'components/store/product_vcard.html' with product=product %}
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}
