{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <h2>Оформление заказа</h2>
    <section class="row">
        <section class="col">
            <form method="post">
                {% csrf_token %}
                {{ client_form|crispy }}
                {{ form|crispy }}
                <button class="mb-3 btn btn-primary" type="submit">
                    Подтвердить
                </button>
            </form>
        </section>
        <section class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Описание заказа</h5>
                    <div class="card-text">
                        <div>
                            <hr>
                            {% for product, quantity in d.items %}
                                <div>{{ product.name }}</div>
                                <div>{{ quantity }} шт. x {{ product.price }} &#8381;
                                    = {% widthratio quantity 1 product.price %} &#8381;
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                        <h5>Итого</h5>
                        <div class="d-md-flex">
                            <div class="me-auto">{{ c }}</div>
                            <strong>{{ s }} &#8381;</strong>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}